/* Navbar */
* {
  margin: 0;
  padding: 0;
  font-family: "LexieReadable";
}

.logo {
  width: 100%;
  max-width: 50px;
  float: left;
}

.link {
  padding-top: 5px;
  padding-bottom: 5px;
  display:block;
}

.cm-e-menu,
.cm-e-menu li,
.link {
  font-size: 17px;
  font-weight: bold;
}

.cm-e-menu {
  background-color: #222;
  z-index: 1000;
  color: #fff;
  font-weight: 200;
  box-shadow: 0 0 10px black;
  float: right;
  width: 100%;
  text-align: right;
  top: 0;
  position: fixed;
}
.cm-e-menu ul {
  margin: 0;
  padding: 0;
  
  height:100%;
}
.cm-e-menu li {
  text-align: left;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  list-style: none;

  -webkit-transition: background-color ease-in 300ms;
  -moz-transition: background-color ease-in 300ms;
  -ms-transition: background-color ease-in 300ms;
  -o-transition: background-color ease-in 300ms;
  transition: background-color ease-in 300ms;
}
.cm-e-menu li:hover {
  background-color: #3d3d3d;
  text-shadow: 0 10px 10px #222;
}
.cm-e-menu ul li.topmenu {
  display: inline-table;
  padding: 0.3em 1em;
}
.cm-e-menu .topmenu ul {
  display: none;
  position: absolute;
  background-color: #222;
}
.cm-e-menu li:hover > ul {
  display: table;
}
.cm-e-menu ul.submenu {
  top: 100%;
  left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-shadow: 0 0 10px black;
}
.cm-e-menu ul.submenu .submenu {
  top: -0.5em;
  left: 100%;
  font-size: 1em;
}
.cm-e-menu ul.submenu li {
  padding: 0.2em 1.5em;
  font-size: 0.9rem;
}
.cm-e-menu li.divider {
  padding: 0;
  border-top: 1px solid #343434;
  margin: 0.5rem auto 0.3rem;
  cursor: default;
}
.cm-e-menu li.divider:hover {
  background-color: transparent;
}

li .topmenu, .link{
  height:100%;
}

/* Responsive */

@media (max-width: 800px) {
  .logo {
    display:none;
  }
  /* Premier menu */
  .cm-e-menu ul li.topmenu, .block{
    display: block;
    position:relative;
  }
  /* Les troubles */
  .cm-e-menu ul.submenu{
    z-index: 1200;
    
  }

  .cm-e-menu{
    width:50%;
  }

  .cm-e-menu ul.submenu .submenu {
    left:0;
    margin-left:175px;
    margin-top:50px;
}

  
}