.troubleFlex {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .image1 {
    height: 40%;
    width: 40%;
    border-radius: 30px;
    margin-right: 20px;
    margin-left:50px;
  }


  .important{
    color: #ED6EA5;
    font-weight: bold;
  }

  p{
    margin-top:12px;
  }

  @media (max-width: 800px) {
  
    .image1{
      height: 100%;
      width: 100%;
      border-radius: 30px;
      margin:auto;
      margin-top: 25px;
    }
    
  
  }